<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Calendar
    </title>
</head>
<body class="light">
    <link rel="stylesheet" href="calendar-reserve.component.css">

    <div class="calendar">
        <div class="calendar-header">
            <span class="month-picker" id="month-picker">
                Fubruary
            </span>
            <div class="year-picker">
                <span class="year-chang" id="perv-year">
                    <pre><</pre>
                </span>
                <span id="year">2021</span>
                <span class="year-chang" id="next-year">
                    <pre>></pre>
                </span>
            </div>
        </div>

        <div class="calendar-body">
            <div class="calendar-week-day">
                <div>Sun</div>
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
            </div>
            <div class="calendar-days">
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>6</div>
                <div>7</div>
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>6</div>
                <div>7</div>
            </div>
        </div>

        <div class="calendar-footer">
            <div class="toggle">
                <span>Dark Mode</span>
                <div class="dark-mode-switch">
                    <div class="dark-mode-switch-ident"></div>
                </div>
            </div>
        </div>

        <div class="month-list"></div>
    </div>

</body>
</html>
