<link href='https://fonts.googleapis.com/css?family=Lato'>
<link href="https://fonts.googleapis.com/css2?family=Prompt:wght@100;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />



<div class="barser">
    <img src="./assets/image/tophistory.png">
</div>

<div class="serlica">
    <img src="./assets/image/foothis.png">
</div>


<div class="container">
    <div class="brand">
        <img src="./assets/image/Logo-RukjimClinic.png">
        <nav>
            <ul>
                <h2>คลินิกรักยิ้ม | Rakyim Dental CLinic</h2>
                <h3>ปฎิทินออนไลน์</h3>
            </ul>
        </nav>
    </div>
</div>

<div class="profile">
    <img src="./assets/image/doctor.png">
</div>


<!-- <div >
      <button (click)="onPreviousMonth()"> < </button>
      <span> {{ calendarReserveService.getMonthName(monthNumber) }} &nbsp; {{ year }} </span>
      <button (click)="onNextMonth()"> > </button>
    </div>

    <br>
<div class="container">
      <div class="calendar">
        <span *ngFor='let weekDay of weekDaysName' class="day">
          {{ weekDay }}
        </span>
      
        <span *ngFor='let day of monthDays' class="day">
          {{ day.number }}
        </span>
  </div>
</div> -->

<div class="loit">
    <div class="calendar">
        <div class="month">
            <i class="fas fa-angle-left prev" (click)="onPreviousMonth()"></i>
            <div class="date">
                <h1>{{ calendarReserveService.getMonthName(monthNumber) }}</h1>&nbsp;
                <p>{{ year }}</p>
            </div>
            <i class="fas fa-angle-right next" (click)="onNextMonth()"></i>
        </div>
        <div class="day" *ngFor='let weekDay of weekDaysName'>
            {{ weekDay }}

        </div>
        <div class="days" *ngFor='let day of monthDays' (click)="selectDay(day)">
            {{ day.number }}

        </div>
    </div>
</div>