<p>celendar works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Celedar|ปฎิทินออนไลน์</title>
    <link rel="icon" href="images/Logo-RukjimClini555c-01-01.png" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href='https://fonts.googleapis.com/css?family=Lato'>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@100;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./celendar.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"/>
</head>
<body>

  <div class="barser">
    <img src="./assets/image/topcalin.png">
  </div>

  <div class="serlica">
    <img src="./assets/images/footcalin.png">
  </div>

    <div class="container">
        <div class="brand">
            <img src="./assets/images/Logo-RukjimClinic.png">
                <nav>
                    <ul>
                        <h2>คลินิกรักยิ้ม | Rakyim Dental CLinic</h2>
                        <h3>ปฎิทินออนไลน์</h3>
                    </ul>
                </nav>
        </div>
    </div>

    <div class="profile">
      <img src="images/doctor.png">
  </div>

    <div class="loit">
        <div class="calendar">
          <div class="month">
            <i class="fas fa-angle-left prev"></i>
            <div class="date">
              <h1>พฤษภาคม</h1>
              <p>ศ. 29 พ.ค. 2565</p>
            </div>
            <i class="fas fa-angle-right next"></i>
          </div>
          <div class="weekdays">
            <div>อา</div>
            <div>จ</div>
            <div>อ</div>
            <div>พ</div>
            <div>พฤ</div>
            <div>ศ</div>
            <div>ส</div>
          </div>
          <div class="days">
              <div class="prev-date">26</div>
              <div class="prev-date">27</div>
              <div class="prev-date">28</div>
              <div class="prev-date">29</div>
              <div>1</div>
              <div>2</div>
              <div>3</div>
              <div>4</div>
              <div>5</div>
              <div>6</div>
              <div>7</div>
              <div>8</div>
              <div>9</div>
              <div>10</div>
              <div>11</div>
              <div>12</div>
              <div>13</div>
              <div>14</div>
              <div>15</div>
              <div>16</div>
              <div>17</div>
              <div>18</div>
              <div>19</div>
              <div>20</div>
              <div>21</div>
              <div>22</div>
              <div>23</div>
              <div>24</div>
              <div>25</div>
              <div>26</div>
              <div>27</div>
              <div>28</div>
              <div>29</div>
              <div>30</div>
              <div>31</div>
              <div class="next-date">1</div>
              <div class="next-date">2</div>
              <div class="next-date">3</div>
              <div class="next-date">4</div>
              <div class="next-date">5</div>
              <div class="next-date">6</div>
          </div>
        </div>
      </div>
    

    <script src="calenda.js"></script>
</body>
</html>