

<h3></h3>
    <div class="contenner">
        <nav class="navbar navbar-expand-lg navbar-lignt bg-light">
            <a class="navbar-brand"></a>
        
            <div id="navbarNav" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="/register">register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="/calendar-reserv">celendar1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="/reserve">reserve</a>
                        
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" routerLinkActive="active" routerLink="/history-reserve">history</a>
                    </li> 
                    <li class="nav-item" >
                        <a class="nav-link" routerLinkActive="active" routerLink="/calendar-reserve">calendar2</a>
                    </li> 
                </ul>
            </div>           
        </nav>
    </div>

<router-outlet></router-outlet>
calendar-reserve
