

    <div class="barser">
        <img src="./assets/image/tophistory.png">
    </div>
    
    <div class="serlica">
        <img src="./assets/image/foothis.png">
    </div>

    <div class="container">
        <div class="brand">
            <img src="./assets/image/Logo-RukjimClinic.png">
                <nav>
                    <ul>
                        <h2>คลินิกรักยิ้ม | Rakyim Dental CLinic</h2>
                        <h3>ประวัติผู้ป่วยออนไลน์ | online</h3>
                    </ul>
                </nav>
        </div>
    </div>

    <div class="profile">
        <img src="./assets/image/profile.png">
    </div>
    
    <div class="ul">
            <h2>แบบฟอร์มการจองออนไลน์</h2>
            <div class="form-control">
                <label for="typebookingId">จองคิวเรื่อง</label>
                <input type="text" name="" list="datalistOptions" id="typebookingId" placeholder="กรุณาเลือก">
                <datalist id="datalistOptions">
                    <option value="อุดฟัน">
                    <option value="ถอนฟัน">
                    <option value="เปลี่ยนยาง">
                    <option value="ผ่าฟันคุด">
                    <option value="ปรึกษาหมอ">
                    <option value="อื่น">  
                  </datalist>
            </div>
            <div class="form-control">
                <label for="detail">รายละเอียด</label>
                <input type="text" name="" id="detail" placeholder="กรุณากรอก">
            </div>
            
                
            <button type="submit" (click)="onSubmit()" (click)="ReserveSweetAlert()">ตกลง</button>
    </div>
