<!-- <h1>reserve works!</h1> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History|ประวัติผู้ป่วยออนไลน์</title>
    <link rel="icon" href="images/Logo-RukjimClini555c-01-01.png" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href='https://fonts.googleapis.com/css?family=Lato'>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@100;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="reserve" href="reserve.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"/>
</head>
<body>

    <div class="barser">
        <img src="./assets/image/tophistory.png">
    </div>
    
    <div class="serlica">
        <img src="./assets/image/foothis.png">
    </div>

    <div class="container">
        <div class="brand">
            <img src="./assets/image/Logo-RukjimClinic.png">
                <nav>
                    <ul>
                        <h2>คลินิกรักยิ้ม | Rakyim Dental CLinic</h2>
                        <h3>ประวัติผู้ป่วยออนไลน์ | online</h3>
                    </ul>
                </nav>
        </div>
    </div>

    <div class="profile">
        <img src="./assets/image/profile.png">
    </div>
    
    <div class="ul">
        <form id="form" class="form">
            <h2>แบบฟอร์มการจองออนไลน์</h2>
            <div class="form-control">
                <label for="username">จองคิวเรื่อง</label>
                <input type="text" name="" list="datalistOptions" id="username" placeholder="กรุณาเลือก">
                <datalist id="datalistOptions">
                    <option value="อุดฟัน">
                    <option value="ถอนฟัน">
                    <option value="เปลี่ยนยาง">
                    <option value="ผ่าฟันคุด">
                    <option value="ปรึกษาหมอ">
                    <option value="อื่น">  
                  </datalist>
            </div>
            <div class="form-control">
                <label for="email">ท่านแพ้ยาอะไร</label>
                <input type="text" name="" id="email" placeholder="กรุณากรอก">
            </div>
            <div class="form-control">
                <label for="text">หมายเหตุ</label>
                <input type="password" name="" id="password" placeholder="กรุณากรอก">
            </div>
            
                
            <button type="submit">ตกลง</button>
        </form>
    </div>

</body>
</html>
